version: 2.1
orbs:
  terraform: frameio/terraform@0.17.3
workflows:
  plan:
    jobs:
      - terraform/init:
          filters:
            branches:
              only:
                - circleci-project-setup
      - terraform/plan:
          context: quest-demo
          args: terraform
          requires:
            - terraform/init
            
