version: 2.1
orbs:
  terraform: frameio/terraform@0.17.3
workflows:
  plan:
    jobs:
      - terraform/init:
          args: terraform
          context: quest-demo
          filters:
            branches:
              only:
                - circleci-project-setup
                - master
      - terraform/fmt:
          args: terraform
          requires:
            - terraform/init
      - terraform/validate:
          args: terraform
          requires:
            - terraform/init
      - terraform/plan:
          args: terraform
          context: quest-demo
          requires:
            - terraform/init

