version: 2.1
orbs:
  terraform: frameio/terraform@0.17.3
workflows:
  plan:
    jobs:
      - terraform/init:
          filters:
            branches:
              only:
                - circleci-project-setup
      - terraform/plan:
          requires:
            - terraform/init
      - approval:
          requires:
            - terraform/plan
          type: approval
            
